.colophonbody p {
	word-wrap: break-word;
}

.column {
	height: 100%;
	width: 58.33mm;

	margin: 0 5mm 0 0;

	float: left;
}

#introduction p, #index p {
	font-size: 32px;
	text-align: center;
}

img {
	max-height: 100mm;
	max-width: 58.33mm;

	margin: 5mm 0 5mm 0;
	padding: 0 0 0 0;

	display: block;

	clear: both;
	float: left;

	position: relative;
}

.column.right {
	margin: 0 0 0 0;
}

.singleColumnWide {
	height: 100%;
	width: 185mm;

	float: left;
}

body * {
	font-family: Atlas Grotesk;
}

article {
	font-family: Atlas Grotesk;
}

#cover {
	font-size: 48px;
	line-height: 100%;
}

h1, h2, h3, h4, h5, h6, p, em, strong, span {
	margin: 0 0 0 0;
	padding: 0 0 0 0;

	font-weight: 400;
	font-style: normal;
}

em {
	font-style: normal;
}

h1.entryname, h1.creatorname {
	font-size: 72px;
	line-height: 120%;

	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

h1.creatorname {
	margin: 0 0 20mm 0;
}

h1.entryname {
	margin: 5mm 0 0 0;
}

h1.firstHeading {
	font-size: 32px;
	line-height: 120%;

	margin: 0 0 5mm 0;
	padding: 0 0 0 0;

	text-align: center;
}

.column h2 {
	font-size: 18px;
}

#tags, #sources {
	font-size: 28px;
	line-height: 120%;

	margin: 2em 0 0 0;
	padding: 0 0 0 0;
}

span.tags, span.sources {
	display: inline;
	padding: 0 0.5em 0 0;
}

#sources {
	word-wrap: break-word;
}

#jumpinCover {
	height: auto;
	width: 109mm;

	margin: 0 0 0 96.5mm;
	padding: 0 0 0 0;

	float: right;
}

#page-0 .firstcol {
	height: 100%;
	width: 23%;

	margin: 0 5mm 0 0;
	padding: 0 0 0 0;

	float: left;
	display: inline-block;
	text-transform: lowercase;

	font-size: 23px;
	text-align: left;
}

#page-0 .seccol {
	height: 100%;
	width: 31.5%;

	margin: 0 5mm 0 0;
	padding: 0 0 0 0;

	float: left;
	display: inline-block;

	font-size: 11px;
	text-align: left;
}

#page-0 .seccol p {
	margin: 0 0 0 0;

	font-size: 11px;
	text-align: left;
}

#page-0 .thirdcol {
	height: 100%;
	width: auto;

	margin: 0 0 0 0;
	padding: 0 0 0 0;

	float: left;
	display: inline-block;

	font-size: 11px;
	text-align: left;
}

.firstcol {
	text-transform: lowercase;
}

.seccol {
	text-transform: lowercase;
	text-align: center;
}

.thirdcol {
	text-transform: lowercase;
}

h2 {
	font-size: 32px;
	line-height: 120%;

	margin: 0 0 5mm 0;
	padding: 0 0 0 0;

	text-align: center;
}

.titlepage p {
	font-size: 18px;
	text-align: center;
}

.titlepage * {
	margin: 0 0 15mm 0;
}

#introduction p {
	font-size: 18px;
	line-height: 120%;
}

p.custom-page-number {
	height: 100%;
	width: 100%;

	margin: 0 0 0 0;
	padding: 18px 0 0 0;

	font-size: 32px;
}

#page-0 #sources p, #page-0 #tags p {
	font-size: 23px;
}

#repositoryEmblem {
	width: 33%;

	font-family: ITC Souvenir Std;

	position: absolute;
	display: block;

	left: 40mm;
}

.subjectURL {
	width: 50%;

	margin: 0 auto;

	word-wrap: break-word;
}

.introductionbody p {
	text-align: center;
}

em.repositoryEmb, h3.repositoryNum {
	margin: 0 0 0 0;
	padding: 0 0 0 0;

	font-weight: 500;

	display: block;
}

.hiddenChaptertype {
	display: none;
}

.chaptertype {
	margin: 0 0 0 5mm;
}

.singleColumnWide p {
	font-size: 18px
}

p {
	font-size: 10px;

	margin: 0 0 2em 0;
	padding: 0 0 0 0;
}

h2 .mw-headline {
	font-size: 18px;
}

.thumbcaption {
	font-size: 10px;

	margin: 0 0 2em;
	padding: 0 0 0 0;
}

p.big {
	font-size: 28px;
}